In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datautils.analysis import *

In [5]:
df_airbnb = pd.read_csv('../data/raw/AB_NYC_2019.csv')

In [6]:
#tenemos q emular lo q se hizo en el estudio de los crimenes
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [8]:
df_airbnb.sample(10)
#podemos categorizar el neighbourhood y neighbourhood_group, como si fuera la alcaldia

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
24672,19822902,"Sunny, modern Clinton Hill Apartment",1451743,David,Brooklyn,Bedford-Stuyvesant,40.68562,-73.95624,Entire home/apt,100,5,2,2017-08-24,0.09,1,0
27453,21634282,Charming private room 10 min from Manhattan,49735439,Merida,Brooklyn,Bushwick,40.69630,-73.90874,Private room,85,3,2,2017-12-24,0.10,2,0
11576,9006920,Chill place in Brooklyn / Flatbush,27974952,Alex,Brooklyn,East Flatbush,40.64517,-73.94843,Shared room,40,30,5,2018-05-03,0.11,7,365
3506,2095959,Big Sunlit Studio - Nice Bed - 18 min to Manha...,10692401,Jp,Queens,Sunnyside,40.74409,-73.92471,Entire home/apt,94,7,27,2016-08-28,0.40,1,0
18242,14301857,Large Modern Studio with Free Parking in Driveway,47901176,Will & Clara,Queens,Ridgewood,40.70882,-73.91790,Entire home/apt,135,2,73,2019-07-06,2.11,1,345
19112,15191882,★★SLEEP ON CLOUD 9 IN OUR DOUBLE BED SUITE★★,64065593,ResortShare5,Manhattan,Midtown,40.75324,-73.97217,Entire home/apt,198,2,16,2018-11-08,0.51,13,263
15504,12433302,Lovely Brownstone Garden Apartment,425363,Marni,Brooklyn,Bedford-Stuyvesant,40.68720,-73.95231,Entire home/apt,170,5,55,2019-07-03,1.44,1,82
7950,6104187,Cute Studio close to subway for monthly rental,31673092,Ayal,Brooklyn,Crown Heights,40.67757,-73.94886,Entire home/apt,75,30,101,2019-06-08,2.06,1,62
22308,18005789,Giant Studio Loft Apt in NYC,766182,Mike,Manhattan,West Village,40.73953,-74.00841,Entire home/apt,170,30,1,2019-04-17,0.36,1,365
24789,19902776,Beautiful 2br apt. in heart of historic Harlem,140931908,Daniela,Manhattan,East Harlem,40.81033,-73.93874,Entire home/apt,200,2,9,2019-06-25,0.38,1,27

In [9]:
df_airbnb.describe()
#tenemos q analidar los count, para ver q data nos sirve analizar

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [10]:
df_airbnb['id'].nunique()

48895

In [12]:
#usamos una funcion q creo Cristian para ver mejor los datos, seria un describe mas completo.
#numeric_desc, categorical_desc = my_df_describe(df_train,name = 'train',show = False,path=PATH_RESULTS,save=False) puedo usar el path si quiero guardar los datos en algun lado

numeric_desc, categorical_desc = my_df_describe(df_airbnb,name = 'airbnb',show = True,save=False)

#los unique me dicen q todos los id son dif, por lo q son unicos porq coinciden con el count
#el host_id se mantiene
#lat y long para poder hacer los mapas, miramos el otro codigo del crime
#cada fila es una persona alojandose en un lugar
#se puede filtar por hospedaje y filtrar los precios
#hay un precio 0, asi q podriamos ver esto, hay q analizar cada dato y ver que se puede hacer.
#

###

********************airbnb********************
shape  (48895, 16)
**********numerics**********

,count,mean,std,min,25%,50%,75%,max,unique,nulls,nulls_perc
id,48895.0,1.901714e+07,1.098311e+07,2539.00000,9.471945e+06,1.967728e+07,2.915218e+07,3.648724e+07,48895,0,0.000000
host_id,48895.0,6.762001e+07,7.861097e+07,2438.00000,7.822033e+06,3.079382e+07,1.074344e+08,2.743213e+08,37457,0,0.000000
latitude,48895.0,4.072895e+01,5.453008e-02,40.49979,4.069010e+01,4.072307e+01,4.076311e+01,4.091306e+01,19048,0,0.000000
longitude,48895.0,-7.395217e+01,4.615674e-02,-74.24442,-7.398307e+01,-7.395568e+01,-7.393627e+01,-7.371299e+01,14718,0,0.000000
price,48895.0,1.527207e+02,2.401542e+02,0.00000,6.900000e+01,1.060000e+02,1.750000e+02,1.000000e+04,674,0,0.000000
minimum_nights,48895.0,7.029962e+00,2.051055e+01,1.00000,1.000000e+00,3.000000e+00,5.000000e+00,1.250000e+03,109,0,0.000000
number_of_reviews,48895.0,2.327447e+01,4.455058e+01,0.00000,1.000000e+00,5.000000e+00,2.400000e+01,6.290000e+02,394,0,0.000000
reviews_per_month,38843.0,1.373221e+00,1.680442e+00,0.01000,1.900000e-01,7.200000e-01,2.020000e+00,5.850000e+01,937,10052,0.205583
calculated_host_listings_count,48895.0,7.143982e+00,3.295252e+01,1.00000,1.000000e+00,1.000000e+00,2.000000e+00,3.270000e+02,47,0,0.000000
availability_365,48895.0,1.127813e+02,1.316223e+02,0.00000,0.000000e+00,4.500000e+01,2.270000e+02,3.650000e+02,366,0,0.000000

**********categorical**********

                     count unique              top   freq  nulls  nulls_perc
name                 48879  47905   Hillside Hotel     18     16    0.000327
host_name            48874  11452          Michael    417     21    0.000429
neighbourhood_group  48895      5        Manhattan  21661      0    0.000000
neighbourhood        48895    221     Williamsburg   3920      0    0.000000
room_type            48895      3  Entire home/apt  25409      0    0.000000
last_review          38843   1764       2019-06-23   1413  10052    0.205583